<h2 class="devise-title">プロフィールの編集</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div><%= resource.unconfirmed_email %>での本人確認を待機しています。</div>
  <% end %>

  <div class="field">
    <%= f.label :name, 'ユーザー名' %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :password, '新しいパスワード' %> <i>(変更しない場合は空欄のままにしてください)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> 文字以上</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "新しいパスワード(確認用)" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(変更を保存するためには現在のパスワードを入力する必要があります)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "更新" %>
  </div>
<% end %>


<%= link_to "戻る", :back %>

<p><%= button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "この操作は取り消せません。本当にアカウントを削除しますか?" }, method: :delete, class: "btn btn-sm btn-danger", id: "delete_account" %></p>
