<header class="navbar navbar-fixed-top">
<nav class="nav navbar-nav navbar-left">
  <ul>
    <li><%= link_to "ホーム",   root_path %></li>
    <li><%= link_to "ログイン", '#' %></li>
    <li><%= link_to "アカウント", '#' %></li>
    <li><%= link_to "設定", '#' %></li>
    <li><%= link_to "ログアウト", '#' %></li>
  </ul>
</nav>
</header>