<header class="navbar navbar-fixed-top">
<nav class="nav navbar-nav navbar-left">
  <ul>
    <li><%= link_to "ホーム",   root_path %></li>
    <% if user_signed_in? %> 
    <li><%= link_to "マイページ", users_show_path(id: current_user.id) %></li>
    <li><%= link_to "ユーザー一覧", users_index_path %></li>
    <li><%= link_to "プロフィール変更", edit_user_registration_path %></li>
    <li><%= link_to "設定", '#' %></li>
    <li><%= link_to "ログアウト", destroy_user_session_path %></li>
    <% else %>
    <li><%= link_to "ログイン", new_user_session_path %></li>
    <% end %>
  </ul>
</nav>
</header>